language: node_js
node_js: 6

# S: Build Lifecycle
install:
  - npm install

#before_script:
 # - npm install -g gulp

script:
  - hexo g

after_script:
  - cd ./public
  - git init
  - git config user.name "lhmachine"
  - git config user.email "lhmachine@qq.com"
  - git add .
  - git commit -m "Update docs"
  - git push --force --quiet "https://${github_url}@${GH_REF}" master:master

# E: Build LifeCycle
branches:
  only:
    - master
env:
 global:
   - GH_REF: https://github.com/lhmAchIne/lhmachine.github.io
